@import "variables";

.lb-CardList {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    counter-reset: players-rank-counter;
    position:relative;

    > li {
        counter-increment: players-rank-counter;
        padding-inline-start: 3 * $gutter;
        position: relative;

        &:before {
            content: "#" counter(players-rank-counter);
            font-size: 2rem;
            font-weight: 700;
            position:absolute;
            top: $gutter;
            left:0;
        }
    }
}

.lb-Card {
    display:block;
    width:100%;
    border:none;
    background: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align:left;
    font-size: 1rem;
    cursor: pointer;
    padding: $gutter;

    &:hover, &:focus {
        color:$app-accent-color;
    }
}

.lb-Card_Title {
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lb-Card_Score {
    margin-inline-start:0.5rem;
    padding:0.5rem;
    background-color: #efefef;
    border-radius: 0.5rem;

    span {
        margin-inline-start: 0.5rem;
        font-size: .5em;
    }
}

.lb-Card_Subtext {
    margin:0;
    font-style: italic;
    color: #666;
}

.lb-EmptyList {
    margin:$xl-gutter auto;
    width: 75vw;
    text-align: center;
}

.lb-EmptyList_StarterSteps {
    margin: 0;
    padding-inline-start: 0;
    list-style: none;

    > li {
        padding-block-start: $lg-gutter;
    }
}