@import "variables";

@mixin sr-only {
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
}

// format modal - drawer titles
@mixin ModalTitle {
    display:flex;
    gap: $gutter;
    margin-block: $sm-gutter $lg-gutter;
}

// format modal - drawer actions group
@mixin ModalActions {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: $gutter;
    margin-block-start: $lg-gutter;
}

@mixin GenericButtonStyles {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: $app-accent-color;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border:1px solid $app-accent-color;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    
    &:hover, &:focus, &:active {
        color: white;
        background-color: $app-accent-color;
    }
}

@mixin GenericFormStyles {
    // spacing between siblings form control wrappers
    *[data-wrapper="form-control"] ~ *[data-wrapper="form-control"] {
        margin-block-start: $sm-gutter;
    }

    fieldset {
        padding:0;
        margin:0;
        border:none;

        > legend {
            font-size: 1.2rem;
            font-weight: bold;
            margin-block-end: $sm-gutter;
        }

        & + fieldset {
            margin-block-start: $lg-gutter;
        }
    }

    label { 
        display: inline-block;
        margin-block-end: $xs-gutter; 
    }

    input[type="text"] { 
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

        &:focus {
            outline-color: teal;
            border-color: teal;
        }
    }

    select {
        display: block;
        width: 100%;
        padding: 0.375rem 2.25rem 0.375rem 0.75rem;
        -moz-padding-start: calc(0.75rem - 3px);
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right 0.75rem center;
        background-size: 16px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        appearance: none;

        &:focus {
            outline-color: teal;
            border-color: teal;
        }
    }

    button { @include GenericButtonStyles; }
}

@mixin RadioGroupStyles {
    padding-inline-start: 0;
    margin-block: 0;
    list-style: none;
    display:flex;
    justify-content: stretch;

    > li { 
        flex:1 1 auto; 
        &:first-child label { border-top-left-radius: 0.25rem; border-bottom-left-radius: 0.25rem; }
        &:last-child label { border-top-right-radius: 0.25rem; border-bottom-right-radius: 0.25rem; }
        &:not(:first-child) label { border-left:none; }
    }

    label {
        display:block;
        text-align: center;
        margin-block-end: 0;
        padding:$xs-gutter $sm-gutter;
        border: 1px solid #ced4da;
        transition: border-color .15s ease-in-out, color .15s ease-in-out, background-color .15s ease-in-out;
        cursor: pointer;
    }

    &:hover label, &:focus-within label {
        border-color: teal;
    }

    input[type="radio"] { 
        @include sr-only;
        &:checked + label {
            color: #fff;
            background-color: teal;
            border-color: teal;
        }
    }
}