@import "variables";
@import "mixins";
@import "include-media-mixins";

.mts-MenuList {
    list-style: none;
    margin: 0;
    padding: $gutter;
    display:flex;
    align-items: stretch;
    justify-content: center;
    gap: $gutter;
    flex-wrap: wrap;
    background-color: rgba($app-shadow-color, 0.15);
}

.mts-MenuListItem {

}

.mts-SelectorBtn {
    @include GenericButtonStyles;
    &:hover, &:focus {
        background-color: rgba($app-accent-color, 0.25);
    }
    &:active, &[aria-pressed="true"] {
        background-color: $app-accent-color;
    }

    @include media("<=small") {
        padding: $gutter;
    }
}