@use "sass:color";
@import "variables";
@import "mixins";
@import "include-media-mixins";

.q-Question {
    fieldset {
        border:0 none;
        padding:0;
        margin:0;
    }

    legend {
        display:block;
        font-size: 7.5em;
        white-space: pre-wrap;
        padding-block: $gutter;
        text-align: center;

        @include media(">small") {
            padding-block: $xl-gutter;
        }
    }

    &.q-Question--multiple-choices {
        menu {
            padding-inline: $gutter;
            margin-block: $gutter;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            gap: $gutter;

            @include media(">small") {
                padding-inline: $xl-gutter;
                margin-block: $xl-gutter;
            }
        }

        button {
            @include GenericButtonStyles;
            min-width: 6rem;
            font-size: 3em;
            padding: $sm-gutter $gutter;
            text-align: center;

            &:nth-child(3n + 1) { 
                $adjustedColor: color.adjust($app-accent-color, $hue: 240);
                border-color: $adjustedColor;

                &:hover, &:focus, &:active {
                    background-color: $adjustedColor;
                }
            }
            &:nth-child(3n + 2) { 
                $adjustedColor: color.adjust($app-accent-color, $hue: 0);
                border-color: $adjustedColor;

                &:hover, &:focus, &:active {
                    background-color: $adjustedColor;
                }
            }
            &:nth-child(3n + 3) { 
                $adjustedColor: color.adjust($app-accent-color, $hue: -240);
                border-color: $adjustedColor;

                &:hover, &:focus, &:active {
                    background-color: $adjustedColor;
                }
            }
        }
    }
    &.q-Question--direct-input {
        label {
            display:block;
            font-size: 7.5em;
            white-space: pre-wrap;
            padding-block: $gutter;
            text-align: center;

            @include media(">small") {
                padding-block: $xl-gutter;
            }
        }

        input {
            display: block;
            margin-inline: auto;
            width: min(400px, unquote("calc(100% - #{ 2 * $gutter })"));
            padding: 0.375rem 0.75rem;
            text-align: center;
            font-size: 2.5rem;
            font-weight: 400;
            line-height: 1.5;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            appearance: none;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

            &:focus {
                outline-color: teal;
                border-color: teal;
            }
        }

        button {
            @include GenericButtonStyles;
            display: block;
            margin-block-start: $lg-gutter;
            margin-inline: auto;
            width: min(400px, unquote("calc(100% - #{ 2 * $gutter })"));
        }
    }
}

.q-EmptyState {
    p {
        font-weight: 700;
        font-size: 2.5rem;
        text-align: center;
        margin:$xl-gutter;
        padding: $gutter;
        border:1px solid $app-accent-color;
        border-radius: 0.25rem;
    }

    &:before {
        content: '';
        position: absolute;
        width:100vw;
        height:50vh;
        bottom:0;
        left:0;
        background: no-repeat url("/math-teacher/img/cookie-monster-waving.png") 50% 100%;
        background-size: contain;
    }

    @include media("<=small") {
        p {
            margin:$gutter;
            font-size: 1.5rem;
        }
    }
}

.q-Results {
    .q-Results_Head {
        width: min(960px, unquote("calc(100% - #{ 2 * $gutter })"));
        margin-block-start: $lg-gutter;
        margin-inline:auto;
        padding: $gutter;
        border:1px solid $app-accent-color;
        border-radius: 0.25rem;
        background-color: rgba(white, 0.75);

        p {
            font-weight: 700;
            font-size: 1.5rem;
            text-align: center;
        }
    }

    .q-Results_ErrorCount {
        color: $color-danger;
    }

    &.q-Results--full-win {
        background: no-repeat url("/math-teacher/img/sesame-full-win.webp") 50% 100%;
        background-size: contain;
    }

    &.q-Results--partial-win {
        background: no-repeat url("/math-teacher/img/sesame-partial-win.png") 50% 100%;
        background-size: 35%;
    }

    &.q-Results--average-win {
        background: no-repeat url("/math-teacher/img/sesame-average-win.png") 50% 100%;
        background-size: 15%;
    }

    &.q-Results--loss {
        background: no-repeat url("/math-teacher/img/sesame-loss.webp") 50% 100%;
        background-size: 15%;
    }
}